{% extends "base.html" %} 
{% block content %}
    <form method="POST" class="grid-send-ask">
      <textarea class="question" name="question"></textarea>
      <div class="select-dropdown">
        <select class="cards_number" name="cards_number">
          <option value="1">1 КАРТА</option>
          <option value="2">2 КАРТЫ</option>
          <option value="3">3 КАРТЫ</option>
        </select>
      </div>
      <button class="submit-btn" type="submit"><svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px" fill="#000"><path d="M120-160v-640l760 320-760 320Zm80-120 474-200-474-200v140l240 60-240 60v140Zm0 0v-400 400Z"/></svg></button>
    </form>
    <div class="card-container"></div>
    <div class="grid-answer">
      <div class="answer"></div>
    </div>
    <div class="grid-after-answer" style="display: none;">
      <button class="submit-btn">Повторить</button>
      <button class="new_question">Новый вопрос</button>
    </div>
    <div class="grid-user-data">
      <p>
        {% if user.is_authenticated %}
         Баланс раскладов: {{ user.balance }}
        {% else %}
          Баланс раскладов: {{ session['balance'] }}
        {% endif %}
      </p>
      <p>
        {% if user.is_authenticated %}
          {{ user.login }}
        {% else %}
          Не авторизован
        {% endif %}
      </p>
      <a href="{{ url_for('payments.pay_once') }}" class="deposit-money-a">Пополнить Баланс</a>
        {% if user.is_authenticated %}
          <a href="{{ url_for('auth.logout') }}">Выйти</a>
        {% else %}
          <a href="{{ url_for('auth.authorization') }}">Войти</a>
        {% endif %}
    </div>
{% endblock %}