{% extends "base.html" %} 
{% block content %}
  <div class="oferta">
    <h1>Договор публичной оферты об оказании услуг</h1>
    <p>ИП Баденов Кирилл Дмитриевич (далее — Исполнитель) предлагает договор публичной оферты для физических и юридических лиц (далее — Заказчик) о нижеследующем.</p>
    <h2>1. Термины и определения</h2>
    <p>1.1 Оферта — документ «Договор публичной оферты об оказании услуг», опубликованный  на сайте Исполнителя www.gpttaro.online.</p>
    <p>1.2. Договор Оферты — договор между Исполнителем и Заказчиком об оказании услуг, который заключается через Акцепт Оферты.</p>
    <p>1.3. Акцепт Оферты — принятие Оферты Заказчиком, когда он обращается к Исполнителю за оказанием услуг.  Акцептом Оферты считается нажатие Заказчиком кнопки «Оплатить» под сформированным заказом на сайте www.gpttaro.online.</p>
    <p>1.4. Тарифы — перечень услуг Исполнителя с ценами, указанными на сайте www.gpttaro.online.</p>
    <p>1.5. Заказчик — лицо, совершившее Акцепт Оферты.</p>
    <p>1.6. Исполнитель — ИП Баденов Кирилл Дмитриевич.</p>
    <p>1.7. Договор не требует скрепления печатями и/или подписания Заказчиком и Исполнителем.</p>
    <h2>2. Предмет Договора </h2>
    <p>2.1. Исполнитель оказывает Заказчику услуги в соответствии с условиями Договора Оферты и текущими Тарифами, опубликованными на сайте www.gpttaro.online.</p>
    <p>2.2. Заказчик принимает услуги Исполнителя и полностью их оплачивает.</p>
    <p>2.3. Если заказчик оставляет отзыв о приобретенных услугах в соцсетях Исполнителя, он дает согласие на размещение персональных данных в отзывах: имени и фамилии.</p>
    <p>2.4. Заказчик соглашается, что совершая Акцепт Договора он подтверждает, что ознакомлен, согласен, полностью и безоговорочно принимает все условия Договора Оферты.</p>
    <h2>3. Срок действия Договора</h2>
    <p>3.1. Договор вступает в силу со дня акцепта заказчиком и действует до полного исполнения сторонами обязательств по Договору.</p>
    <h2>4. Стоимость работ и порядок расчетов</h2>
    <p>4.1. Стоимость услуг определяется в соответствии с действующими ценами и прописана на сайте www.gpttaro.online.</p>
    <p>4.2. Оплата производится в рублях перечислением на расчетный счет Исполнителя или платежной картой на сайте www.gpttaro.online.</p>
    <h2>5. Права и обязанности</h2>
    <p>5.1. Исполнитель обязуется:</p>
    <p>5.1.1. Оказать Заказчику услуги надлежащего качества в надлежащем объеме и в согласованные Сторонами сроки.</p>
    <p>5.1.2. Обеспечить полную сохранность предоставленных Заказчиком данных, материалов, а также конфиденциальность информации, полученной им в процессе оказания услуг.</p>
    <p>5.2. Исполнитель имеет право:</p>
    <p>5.2.1 Получать от Заказчика необходимые данные и информацию для оказания услуг и полагаться на них без дополнительной проверки.</p>
    <p>5.3. Заказчик обязуется:</p>
    <p>5.3.1. Предоставить Исполнителю любые необходимые и достоверные данные и информацию для оказания услуг.</p>
    <p>5.3.2. Своевременно и полностью оплатить услуги Исполнителя. </p>
    <h2>6. Основания и порядок расторжения Договора</h2>
    <p>6.1 После оформления и оплаты заказа Заказчик имеет право отказаться от услуг Исполнителя и запросить возврат денег, направив письменное уведомление «Отказ от предоставления услуг» на адрес электронной почты gpttaro@yandex.ru.</p>
    <p>6.2 Исполнитель вправе удержать из уплаченной Заказчиком суммы стоимость уже оказанных услуг на момент получения уведомления об отказе.</p>
    <h2>7. Разрешение споров</h2>
    <p>7.1. Споры и разногласия по вопросам исполнения Договора разрешаются на переговорах.</p>
    <p>7.2. Если на переговорах Стороны не смогут достичь согласия, спор передается в суд.</p>
    <h2>8. Реквизиты</h2>
    <p>Исполнитель - ИП Баденов Кирилл Дмитриевич</p>
    <p>ИНН 371123377347</p>
    <p>Р/C: 40802810500005832543</p>
    <p>Банк: АО «Тинькофф Банк»</p>
    <p>К/C: 30101810145250000974</p>
    <p>БИК: 044525974</p>
    <p>Адрес электронной почты: gpttaro@yandex.ru</p>
  </div>
{% endblock %}