{% extends "base.html" %} 
{% block content %}
{% from 'payment-macros.html' import payment_options_header %}
{{ payment_options_header(request.path) }}
  <div class="grid-payment-option">
    <div class="ten-requests">
      <div class="container-payment-card">
          <h4>Малый</h4>
          <div>
            <h3>99₽</h3>
            <p>10 раскладов</p>
          </div>
          <h5>Нет выгоды</h5>
          <a class="btn-buy a-hover" href="{{ url_for("payments.payment_creation", value=99, type=1, quantity=10) }}">Купить</a>
      </div>
    </div>
    <div class="fifty-requests">
      <div class="container-payment-card">
        <h3>ПРЕМИАЛЬНЫЙ</h3>
        <div>
          <h1>199₽</h1>
          <p>50 раскладов</p>
        </div>
        <h2>Выгода 60%</h2>
        <a class="btn-buy a-hover" href="{{ url_for("payments.payment_creation", value=199, type=1, quantity=50) }}">Купить</a>
      </div>
    </div>
    <div class="thirty-requests">
      <div class="container-payment-card">
        <h4>Базовый</h4>
        <div>
          <h3>149₽</h3>
          <p>30 раскладов</p>
        </div>
        <h5>Выгода 50%</h5>
        <a class="btn-buy a-hover" href="{{ url_for("payments.payment_creation", value=149, type=1, quantity=30) }}">Купить</a>
      </div>
    </div>
  </div>
{% endblock %}
